@import url('styles.css');
@import url('navbar.css');
@import url('animations.css');
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--card-color);
    width: var(--card-width);
    align-items: center;
    margin-bottom: 40px;
    margin-right: 30px;
}

.card-bg {
    width: 100%;
    height: var(--bg-height);
    margin-bottom: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% 50%;
}

.card-img {
    top: var(--img-top);
    left: var(--img-left);
    width: var(--img-size);
    height: var(--img-size);
    position: absolute;
    border-radius: 50%;
    background-size: 140px;
    background-position: 58% 0;
}

.boton-vm {
    padding: 12px;
    margin: 20px 0;
    border-radius: 5px;
    text-decoration: none;
    width: var(--img-size);
}

.corazoncito {
    transition: color 0.8s linear 0.2s;
    color: var(--heart-color);
    font-size: x-large;
    position: absolute;
    left: 20px;
    top: 20px;
}

.card,
.card-bg {
    border-radius: 25px 25px 0 0;
}

.card,
.card-bg,
.card-img {
    box-shadow: 0px 3px 10px var(--shadow-color);
}

.card h2 {
    padding: 10px 0;
    font-size: 30px;
    text-transform: uppercase;
}

.card h2,
.boton-vm,
footer {
    text-align: center;
}

.card p {
    width: 265px;
    margin: 0 auto;
    text-align: left;
}

#bg-batman {
    background-image: var(--bg-batman);
}

#bg-wonderw {
    background-image: var(--bg-wonderw);
}

#bg-superman {
    background-image: var(--bg-superman);
}

#img-batman {
    background-image: var(--img-batman);
}

#img-wonderw {
    background-image: var(--img-wonderw);
}

#img-superman {
    background-image: var(--img-superman);
}

.nbar {
    width: 100px;
    height: 400px;
    float: left;
    position: fixed;
    background: transparent;
    bottom: calc(50% - 250px);
}

#plus {
    right: 5%;
    width: 82px;
    height: 82px;
    position: fixed;
    bottom: calc(50% - 41px);
    z-index: 2;
}

.nbar,
.nbar ul {
    left: 0;
}

#plus:hover {
    transform: scale(1.15);
    content: url("../img/plus2.svg");
}