@import url('./variables.css');
@import url('./header.css');
* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

main {
    height: 952px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: var(--section-width);
    justify-content: space-between;
}