@import url('./variables.css');
@import url('./header.css');
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--main-height);
    padding: 40px 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}

footer {
    width: 100%;
    padding: 24px;
    text-align: center;
}