@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
:root {
    --offer-color: #1CD1B0;
    --header-color: #00669F;
    --card-color: #F3F3F3;
    --heart-color: #CC2424;
    --shadow-color: #00000025;
    --details-color: #2C0187;
    --main-height: 950px;
    --form-width: 430px;
    --section-width: 1100px;
    --section-top: calc(50% - var(--card-height)/2);
    --section-left: calc(50% - var(--section-width)/2);
    --card-width: 300px;
    --card-height: 530px;
    --bg-height: 190px;
    --bg-batman: url('../img/bg-b.jpg');
    --bg-wonderw: url('../img/bg-hq.jpg');
    --bg-superman: url('../img/bg-s.jpg');
    --img-top: calc(var(--bg-height) - var(--img-size)/2);
    --img-left: calc(var(--card-width)/2 - var(--img-size)/2);
    --img-size: calc(var(--card-width) * 0.4);
    --img-batman: url('../img/bman.jpg');
    --img-wonderw: url('../img/hquinn.jpg');
    --img-superman: url('../img/sman.jpg');
    --boton-width: var(--img-size);
    --boton-left: var(--img-left);
}